* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    color: #2f292b;
}

.wallpaper {
    background-image: url('./images/LKq6UQW.png');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.main-container {
    max-width: 800px;
    margin: -200px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: "The Girl Next Door", 'Comic Sans MS', cursive;
    font-size: 50px;
}

.page-title {
    font-size: 50px;
    color: #3F88C5;
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.search-text {
    padding: 10px;
    width: 40%;
    border: 2px solid #97D8C4;
    border-radius: 5px;
    font-size: 18px;
}

.search-text:focus {
    outline: none;
    border-color: #97D8C4;
}

.search,
.reset,
.reset-favorites {
    padding: 7px 28px;
    background-color: #16A491;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "The Girl Next Door", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.search:hover,
.reset:hover,
.reset-favorites:hover {
    background-color: #97D8C4;
}

.movies-container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.results,
.favorites {
    flex: 1;
    margin: 0 10px;
}

.favorites {
    align-self: stretch;
}

.title-series,
.title-favorites {
    font-size: 35px;
    color: #79B791;
    margin-bottom: 10px;
}

.movie-name{
    font-family: 'sans-serif';
    font-weight: 400;
    font-size: 25px;
    margin-top: 10px;
    background-color: #3F88C5; 
    margin: 10px 0; 
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 100%; 
}

.container-series,
.container-favorites {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.favorite-item, {
    position: relative;
}

.container-series img,
.container-favorites img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: block;
}

.container-series img:hover, .container-favorites img:hover {
    z-index: 2;
    transform: scale(1.03); 
    cursor: pointer;
}

.remove-favorite {
    position: absolute;
    top: 5px; 
    right: 5px; 
    background-color: #D32F2F; 
    color: white;
    padding: 5px; 
    cursor: pointer;
    border-radius: 50%; 
    border: none;
    width: 24px; 
    height: 24px; 
    transition: transform 0.2s ease, background-color 0.2s ease; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.remove-favorite:hover {
    transform: scale(1.1); 
    background-color: #F44336; 
}

.favorite {
    border: 5px solid#208AAE;
    color: white;
    border-radius: 10px;
}