* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    color: #2f292b;
    font-family: 'sans-serif';
    font-weight: 400;
}

.wallpaper {
    background-image: url('https://wallpapercave.com/wp/wp5535573.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
}

.main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.page-title {
    font-size: 36px;
    color: #7C4DFF;
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.search-text {
    padding: 10px;
    width: 40%;
    border: 2px solid #7C4DFF;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.search-text:focus {
    outline: none;
    border-color: #9C27B0;
}

.search,
.reset,
.reset-favorites {
    padding: 12px 24px;
    background-color: #7C4DFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search:hover,
.reset:hover,
.reset-favorites:hover {
    background-color: #9C27B0;
}

.movies-container {
    display: flex;
    justify-content: space-between;
}

.results,
.favorites {
    flex: 1;
    margin: 0 10px;
}

.favorites {
    align-self: stretch;
}

.title-series,
.title-favorites {
    font-size: 28px;
    color: #FF8A65;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.container-series,
.container-favorites {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.favorite-item {
    position: relative;
}

.container-series img,
.container-favorites img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: block;
}

.remove-favorite {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid red;
}

.remove-favorite:hover {
    background-color: #FF7043;
}

.favorite {
    border: 5px solid #E28413;
    color: #FA7921;
    border-radius: 10px;
}